div#crypto-content {
	background: #f4f4f4;
    position: relative;
    top: -20px;
    padding-top: 30px;
}

ol, ul {
    list-style: none;
}

div.slat-header {
    position: relative;
    margin: 0 0 30px 0;
    padding-left: 60px;
    min-height: 48px;
}

div.slat-header img.photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

div.slat-header h1 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 1.5;
    color: #444;
    font-weight: 700;
}

div.slat-header h2.shot-byline {
    display: block;
}

div.slat-header h2 {
    font-size: 14px;
    font-weight: normal;
    color: #999;
    display: inline-block;
}


@media only screen and (max-width: 800px) {
	div.slat-header h1 {
	    font-size: 16px;
	    line-height: 1.2;
	    margin-bottom: 4px;
	}
}

div.single-img img {
    border: 20px solid #fff;
    display: block;
    max-width: 500px;
    max-height: 300px;
}


div.shot-desc {
    font-size: 16px;
    line-height: 1.5;
    color: #555;
    overflow: hidden;
    margin-bottom: 20px;
}


#comments-section h2.section, #comments-section h2.section-bold {
    margin: 0 0 20px 0;
    padding: 20px 0 0 0;
    border-bottom: none;
    border-top: 1px solid #ddd;
    line-height: 1.3;
    font-size: 16px;
    font-weight: bold;
    color: #444;
}

#comments-section .comments-sort {
    font-size: 13px;
}

#comments-section .comments-sort span {
    margin: 0 0 0 0;
    color: #bbb;
}

ol.comments li {
    position: relative;
}

ol.comments li.response {
    float: none;
    width: auto;
    margin: 0 0 20px 0;
    padding: 0;
    font-size: 15px;
    line-height: 1.4em;
    color: #555;
    border-bottom: 1px solid #ddd;
}

ol.comments h2 {
    margin: 0 0 2px 0;
    font-size: 16px;
    font-weight: 500;
}

ol.comments h2 a {
    color: #444;
}

ol.comments h2 a:hover {
    color: #3a8bbb;
    cursor: pointer;
}

ol.comments h2 img {
    float: left;
    width: 32px;
    margin: 3px 10px 0 0;
    border-radius: 50%;
}

ol.comments div.comment-body {
    width: 388px;
    margin: 0 0 0 42px;
    overflow: hidden;
}

ol.comments div.comment-body p {
    margin: 0 0 10px 0;
    padding: 0;
}


ul.shot-stats>li {
    position: relative;
    width: 100%;
    font-size: 13px;
    line-height: 1;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
}

ul.shot-stats>li .stats-action {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #999;
    line-height: 22px;
    box-sizing: border-box;
}

ul.shot-stats>li .stats-action img {
    height: 20px;
    vertical-align: middle;
    opacity: .3;
}

ul.shot-stats>li .stats-action span.stats-label {
    position: relative;
    top: 2px;
    margin-left: 5px;
    line-height: 22px;
}

ul.shot-stats>li .stats-num {
    position: absolute;
    top: 0;
    right: 0;
    padding: 16px 14px;
    color: #999;
}

ul.color-chips {
    float: left;
    margin: 14px 0 0 10px;
    width: 220px;
}

ul.shot-stats>li li {
    border-bottom: none;
}

ul.shot-stats>li.shot-stats-colors {
    overflow: hidden;
}

ul.shot-stats>li {
    position: relative;
    width: 100%;
    font-size: 13px;
    line-height: 1;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
}

ul.shot-stats>li:last-child {
    border-bottom: none;
}

ul.shot-stats>li.shot-stats-colors a.stats-action {
    float: left;
}

ul.shot-stats>li .stats-action {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #999;
    line-height: 22px;
    box-sizing: border-box;
}

ul.shot-stats>li .stats-action img {
    height: 20px;
    vertical-align: middle;
    opacity: .3;
}

ul.color-chips {
    float: left;
    margin: 14px 0 0 10px;
    width: 220px;
    position: absolute;
    left: 25px;
    top: 2px;
}

ul.color-chips li {
    float: left;
    width: 12.5%;
}

ul.color-chips li:first-child a {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

ul.color-chips li a {
    float: left;
    width: 100%;
    height: 12px;
    text-indent: -9999px;
}


/******************/

div.related-player-shots {
    position: relative;
}

div.related-player-shots h3.meta-head {
    padding-right: 25px;
}

h3.meta-head {
    padding: 20px 0 10px 0;
    font-size: 15px;
    font-weight: 500;
    line-height: 1;
    color: #444;
    border-top: 1px solid #ddd;
}

ol.more-thumbs li {
    float: left;
    width: 46%;
    margin: 0 0 15px 5px;
}

ol.more-thumbs li a {
    display: inline-block;
}

ol.more-thumbs li a img {
    width: 100%;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.07);
}